<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="theme-color" content="#4285f4">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{{url_for('static',filename='/css/index.css')}}">
  <link rel="icon" href="{{url_for('static',filename='/image/619282-middle.ico')}}">





  <title>Portfolio</title>

</head>

<body>



  <div class="headercontainer">


    <header class="header">
      <a href="/" class="logo"><i class="fab fa-python"></i> Anshul Kashyap</a>



      <input type="checkbox" name="" id="menu">
      <nav class="navbar">

        <a class="active" href="#home" style="--i:1">Home</a>
        <a href="#about" style="--i:2">About</a>
        <a href="#education" style="--i:4">Education</a>
        <a href="#skills" style="--i:3">Skills</a>

        <a href="#contact" style="--i:5">Contact</a>

      </nav>
    </header>
  </div>
  <!-- hero section starts -->
  <section class="home" id="home">
    <div id="particles-js"></div>

    <div class="content">
      <h2>Hi There,<br /> I'm <span>Anshul Kashyap</span></h2>
      <p>i am a python developer</p>
      <a href="#about" class="btn1"><span>About Me</span>
        <i class="fas fa-arrow-circle-down"></i>
      </a>

      <div class="socials">
        <ul class="social-icons">
          <li><a class="linkedin" aria-label="LinkedIn" href="" target="_blank"><i class="fab fa-linkedin"></i></a></li>
          <li><a class="github" aria-label="GitHub" href="" target="_blank"><i class="fab fa-github"></i></a></li>
          <li><a class="twitter" aria-label="Twitter" href="" target="_blank"><i class="fab fa-facebook"></i></a></li>
          <li><a class="telegram" aria-label="Telegram" href="" target="_blank"><i
                class="fab fa-telegram-plane"></i></a></li>
          <li><a class="instagram" aria-label="Instagram" href=""><i class="fab fa-instagram" target="_blank"></i></a>
          </li>


        </ul>
      </div>
    </div>
    <div class="image">
      <img class="tilt"
        src="{{url_for('static',filename='/image/Resize Image To WhatsApp Profile Size Without Cropping.jpeg')}}"
        alt="image">
    </div>
  </section>
  <section class="about" id="about">
    <h2 class="heading"><i class="fas fa-user-alt"></i> About <span>Me</span></h2>
    <div id="selfcontainer">
      <div class="image">
        <img src="{{url_for('static',filename='/image/profile-pic.png')}}" alt="" class="tilt">
      </div>
      <div id="my_self">
        <p>Hey! my name is anshul kashyap. I'm an aspiring python developer.i have pursuing my b.tech in s.d college of
          engginering and Technology muzaffarnagar.i am mainly skilled with <span class="language">c,python</span> also
          proficient in <span class="language">data structure and algorithms</span>.</p>
        <div class="box-container">
          <div class="box">
            <p><span> age: </span> 20</p>
            <p><span> phone : </span> +91 9456954582</p>
          </div>
          <div class="box">
            <p><span> email : </span> a9756549615@gmail.com</p>
            <p><span> place : </span> muzaffarnagar,india - 251001</p>
          </div>
        </div>
        <div class="continer-resume">


          <div class="resumebtn">
            <a href="/resume" class="btn" target="parent"> <span></span>
              <span></span>
              <span></span>
              <span></span>
              resume

            </a>
          </div>
          <div class="resumebtn" style="width:25rem ;">
            <a href="/video" class="btn" target="parent"> <span></span>
              <span></span>
              <span></span>
              <span></span>
              video-info

            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="education" id="education">

    <h1 class="heading"><i class="fas fa-graduation-cap"></i> My <span>Education</span></h1>



    <div class="box-container">

      <div class="box">
        <div class="image">
          <img draggable="false" src="{{url_for('static',filename='/image/2013-08-27.jpg')}}" alt="">
        </div>
        <div class="content">
          <h3>science with maths </h3>
          <p>L.J.P.S.V.M inter collage jansat road muzaffarnagar</p>
          <h4>2016-2020 | Completed</h4>
        </div>
      </div>
      <div class="box">
        <div class="image">
          <img draggable="false" src="{{url_for('static',filename='/image/1436854511phpp6gUvB_g.jpg')}}" alt="">
        </div>
        <div class="content">
          <h3> Bachelor of Technology and engginering</h3>
          <p>s.d college of engg. and tech.muzaffarnagar</p>
          <h4>2020-2024 | Pursuing</h4>
        </div>
      </div>


    </div>
  </section>

  <section class="projects">
    <h2 class="heading">👨‍💻 projects</h2>
    <div class="containers">
      <div class="card">
        <div class="face face1">
          <div class="content">
            <img class="tilt" src="{{url_for('static',filename='/image/04.gif')}}" alt="">

          </div>
        </div>

        <div class="face face2">
          <div class="content">
            <p>bank website using flask,sql,
              app.
            </p>
            <a href="/bank">Read More</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="face face1">
          <div class="content">
            <img class="tilt" src="{{url_for('static',filename='/image/04.jpg')}}" alt="">
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <p>online food order website using flask and sql
              app.
            </p>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="face face1">
          <div class="content">
            <img class="tilt" src="{{url_for('static',filename='/image/04.gif')}}" alt="">

          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <p>loan is one of the most common features of the Paytm payments app.
            </p>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>

    </div>

  </section>

  <section class="footer">

    <div class="box-container">

      <div class="box">
        <h3>anshul kashyap</h3>
        <p>Thank you for visiting my personal portfolio website. Connect with me over socials. <br /> <br /> </p>
        <div class="share">

          <a href="" class="fab fa-linkedin" aria-label="LinkedIn" id="linked" target="_blank"></a>

          <a href="" class="fas fa-envelope" aria-label="Mail" id="evelope" target="_blank"></a>
          <a href="" class="fab fa-instagram" aria-label="Mail" id="insta" target="_blank"></a>

          <a href="" class="fab fa-telegram-plane" aria-label="Telegram" id="telegram" target="_blank"></a>
        </div>
      </div>

      <div class="box">
        <h3>quick links</h3>
        <a href="#home"><i class="fas fa-chevron-circle-right"></i> home</a>
        <a href="#about"><i class="fas fa-chevron-circle-right"></i> about</a>
        <a href="#education"><i class="fas fa-chevron-circle-right"></i> education</a>
        <a href="#skills"><i class="fas fa-chevron-circle-right"></i> skills</a>

      </div>

      <div class="box">
        <h3>contact info</h3>
        <p> <i class="fas fa-phone"></i>+91-9456954582</p>
        <p> <i class="fas fa-envelope"></i>a9756549615@gmail.com</p>
        <p> <i class="fas fa-map-marked-alt"></i>muzaffarnagar,india 251001</p>

      </div>

    </div>


  </section>


</body>

</html>