<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <title>Video</title>
    <link rel="stylesheet" href="{{url_for('static',filename='/css/index.css')}}">
</head>
<body class="body">
    <div class="main-container">
        <header>
            <h1>My </i><span>video-info</span> 🎬</h1>
        </header>
        <div class="container" >
            
            <video poster="profile-pic.png" src="{{url_for('static',filename='/video/class13.mp4')}}"   controls controlslist=" nodownload noremoteplayback noplaybackrate foobar autoplay" autoplay="allow"   >
                </video>
        </div>

        <div class="download_container">

            <a href=""   download="" class="btn"> <span></span>
                <span></span>
                <span></span>
                
                <span></span>
               download ⬇️

            </a>

        </div>
    </div>

</body>
</html>